.dark {
    background-color: rgb(48, 45, 45);
    h1{
         color: white;
    }
    #hero-text{
    p{color: white;}
   
    }
    #pay-home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            color: white;
        font-size: 32px;
        }
    }
}
.dark * {
    color: black;
}