footer {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
    background-color: #4B4b4b;
    height: 400px;
    color: white;
    margin-top: 120px;
    .social-media{
        width: 60px;
    }
    .logo{
        width: 100px;
        height: 80px;
    }
}

p {
    font-size: 20px;
}

h6 {
    color: black;
    font-size: 24px;
}

.newsletter {
    width: 20rem;
    display: flex;
    flex-direction: column;

    .container.news {
        padding: 20px;
        background-color: transparent;
    }

    input[type=text] {
        width: 100%;
        height: 32px;
        text-align: start;
    }

    input[type=submit] {
        text-align: center;
        width: 100%;
        height: 40px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    input[type=submit]:hover {
        opacity: 0.8;
    }

    h6 {
        font-size: 32px;
        color: white;
    }

    p {
        font-size: 20px;
        color: white;
    }
}
